@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:200);

body{
    font-family: raleway;
    display: flex;
    flex-direction: row;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width: 920px) and (min-width: 400){
    nav{
        justify-content: space-around; 
    }
}

@media screen and (max-width: 399px){ 
    nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}  

/*@media screen and (max-width: 599px) and (min-width: 400px){*/
/*    nav{*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        align-items: stretch; */
/*    }*/
/*}*/

/*@media screen and (max-width: 799px) and (min-width: 600px){*/
/*    nav{*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        align-items: flex-end; */
/*    }*/
/*}*/

/*@media screen and (min-width: 800px){*/
/*    nav{ */
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: flex-end;*/
/*        align-items: flex-end;*/
/*    }*/
/*}*/



