@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    margin: 0px;
    background: #ecf0f1;
    color: #fff;
}

.sidebar {
    height: 100vh;
    width: 25vh;
    font-family: raleway;
    background: #34495e;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
} 

.item {
     color: white;
     font-size: 20px;
}

.section{
    padding: 10%;
}